parameters:
    level: 8
    paths:
        - src/

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    excludes_analyse:

    bootstrapFiles:
        - tests/bootstrap.php

    treatPhpDocTypesAsCertain: false

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Call to method development\(\) on an unknown class .+AutoCompletion#'

